.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.wrapperImage{
  margin: 0 auto;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  border:4px solid green;

  & img{
    width: 100%;
    transition: all .5s ease-in;
    height: 100%;
    &:hover{
      transform: scale(1.2);
    }
  }
}




.profile{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 3px gray;
  gap:5px;

  p{
    margin:0;
  }
}
.title{
  color: red;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}



