.header{
  background-color: teal;
  padding: 10px 20px;
  color:white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.list{
  list-style: none;
  padding: 20px;
  margin: 0;
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
}

.cardWrapper{
  box-shadow: 2px 2px 4px 4px gray;
  display: flex;
  flex-direction: column;
  article{
    padding: 10px;
  }
  button{
    font-size: 1rem;
  }
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgWrapper{
  height: 200px;
  overflow: hidden;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

.cart{
  h1{
    text-align: center;

  }
  ul{
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px 4px gray;
    padding: 10px;
    font-size: 1.5rem;
  }
}